.fade-out-image {
    animation: fadeOut 3s;
    -webkit-animation: fadeOut 3s;
    -moz-animation: fadeOut 3s;
    -o-animation: fadeOut 3s;
    -ms-animation: fadeOut 3s;
    background: transparent;
    color: rgba(0,0,0,0);
}
@keyframes fadeOut {
    0% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    70% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    80% {
        background: transparent;
        color: rgba(0,0,0,0);
    }
}

@-moz-keyframes fadeOut {
    0% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    70% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    80% {
        background: transparent;
        color: rgba(0,0,0,0);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    70% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    80% {
        background: transparent;
        color: rgba(0,0,0,0);
    }
}

@-o-keyframes fadeOut {
    0% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    70% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    80% {
        background: transparent;
        color: rgba(0,0,0,0);
    }
}

@-ms-keyframes fadeOut {
    0% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    70% {
        background: #18191c;
        color: rgba(255,255,255,1);
    }
    80% {
        background: transparent;
        color: rgba(0,0,0,0);
    }
}

.zoom-in {
    animation: zoomIn 3s;
    -webkit-animation: zoomIn 3s;
    -moz-animation: zoomIn 3s;
    -o-animation: zoomIn 3s;
    -ms-animation: zoomIn 3s;
    transform: scale(0);
}

@keyframes zoomIn {
    0% {
        transform: scale(1) rotate(-5deg);
    }
    5% {
        transform: scale(1) rotate(1deg);
    }
    7.5% {
        transform: scale(1.1) rotate(2deg);
    }
    10% {
        transform: scale(1) rotate(1deg);
    }
    12.5% {
        transform: scale(1.1) rotate(2deg);
    }
    20% {
        transform: scale(1) rotate(1deg);
    }
    90% {
        transform: scale(0.95) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(-180deg);
    }
}

@-moz-keyframes zoomIn {
    0% {
        transform: scale(1) rotate(0deg);
    }
    5% {
        transform: scale(1) rotate(0deg);
    }
    7.5% {
        transform: scale(1.05) rotate(1deg);
    }
    10% {
        transform: scale(1) rotate(1deg);
    }
    12.5% {
        transform: scale(1.05) rotate(1deg);
    }
    20% {
        transform: scale(1) rotate(1deg);
    }
    90% {
        transform: scale(0.95) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(-180deg);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        transform: scale(1) rotate(0deg);
    }
    5% {
        transform: scale(1) rotate(0deg);
    }
    7.5% {
        transform: scale(1.05) rotate(1deg);
    }
    10% {
        transform: scale(1) rotate(1deg);
    }
    12.5% {
        transform: scale(1.05) rotate(1deg);
    }
    20% {
        transform: scale(1) rotate(1deg);
    }
    90% {
        transform: scale(0.95) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(-180deg);
    }
}

@-o-keyframes zoomIn {
    0% {
        transform: scale(1) rotate(0deg);
    }
    5% {
        transform: scale(1) rotate(0deg);
    }
    7.5% {
        transform: scale(1.05) rotate(1deg);
    }
    10% {
        transform: scale(1) rotate(1deg);
    }
    12.5% {
        transform: scale(1.05) rotate(1deg);
    }
    20% {
        transform: scale(1) rotate(1deg);
    }
    90% {
        transform: scale(0.95) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(-180deg);
    }
}

@-ms-keyframes zoomIn {
    0% {
        transform: scale(1) rotate(0deg);
    }
    5% {
        transform: scale(1) rotate(0deg);
    }
    7.5% {
        transform: scale(1.05) rotate(1deg);
    }
    10% {
        transform: scale(1) rotate(1deg);
    }
    12.5% {
        transform: scale(1.05) rotate(1deg);
    }
    20% {
        transform: scale(1) rotate(1deg);
    }
    90% {
        transform: scale(0.95) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(-180deg);
    }
}

.pulsate {
    animation: pulsate 2s ease-in-out;
    animation-iteration-count: infinite;
    transform: scale(1) rotate(353deg);
}
@keyframes pulsate {
    0% {
        transform: scale(1) rotate(353deg);
    }
    5% {
        transform: scale(1.05) rotate(353deg);
    }
    15% {
        transform: scale(1) rotate(353deg);
    }
    20% {
        transform: scale(1.05) rotate(353deg);
    }
    30% {
        transform: scale(1) rotate(353deg);
    }
}