body {
  background-color: #282c34;
  color: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background: rgba(107,166,239,0.5);
}

.themed {
  padding: min(2vw, 12px) min(3vw, 24px);
  font-size: min(calc(10px + 3.5vmin), 16px);
  background: rgba(40, 44, 52, 0.53);
  color: white;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 10px;
  width: 100%;
}

.mini {
  padding: 8px 12px !important;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: left;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0,0,0, 0.95);;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 15px #000;
  transform: translateX(+100%);
}

.menu ul {
  list-style-type: none;
  padding: 0px;
}

.menu ul li {
  display: inline-flex;
}

.menu ul a {
  color: #fff;
  font-size: 18px;
  padding: 14px 50px;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.img-profile {
  border-radius: 100%;
}

.background {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

.header {
  padding: 15px;
  margin: 0px;
  background-color: #18191c;
  box-shadow: 0px 0px 10px #222;
  border-bottom: 1px solid #333;
  color: #fff;
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0px;
}

.splash {
  font-size: calc(10px + 2vmin);
}

.page-wrapper {
  color: white;
  font-size: calc(10px + 0.5vmin);
  position: relative;
  margin: 70px auto;

  display: grid;
  justify-items: center;

  width: 100%;
  max-width: min(1920px, 100vw);
}

@media screen and (min-width: 600px) {
  .page-wrapper {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }
}

.bottom-panel {
  position: fixed !important;
  bottom: 0rem;
  margin: 0px auto;
  border-radius: 0px;
  background: rgba(22, 23, 26, 0.96) !important;
  height: auto;
  width: auto !important;
}

@media screen and (min-width: 600px) {
  .bottom-panel {
    left: 1rem !important;
    right: 1rem !important;
    bottom: 1rem !important;
  }
}

.page-wrapper form {
  min-width: 300px;
  max-width: 700px;
  width: 50vw;
  padding: min(4vw, 32px);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #222;
  display: flex;
  flex-direction: column;
}

.page-wrapper input {
  padding: min(2vw, 12px) min(3vw, 24px);
  font-size: min(calc(10px + 3.5vmin), 16px);
  background: rgba(40, 44, 52, 0.53);
  color: white;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 10px;
  margin: 4px 0px;
  width: 100%;
}

.page-wrapper .btn-form {
  border: 1px solid #333;
  background: #222;
  color: white;
  border-radius: 10px;
}

.page-wrapper a {
  padding: 5px 0px;
  color: azure;
  text-decoration: none;
}

.page-wrapper h3 {
  margin: 0px 0px 16px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
