body {
  background-color: #282c34;
  color: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: left;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0,0,0, 0.95);;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 15px #000;
  transform: translateX(+100%);
}

.menu ul {
  list-style-type: none;
  padding: 0px;
}

.menu ul li {
  display: inline-flex;
}

.menu ul a {
  color: #fff;
  font-size: 18px;
  padding: 14px 50px;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.img-profile {
  border-radius: 100%;
}

.background {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

.header {
  padding: 15px;
  margin: 0px;
  background-color: #282c3487;
  box-shadow: 0px 0px 10px #222;
  border-bottom: 1px solid #333;
  color: #fff;
}

.splash {
  font-size: calc(10px + 2vmin);
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 0.5vmin);
  position: relative;
}

.page-wrapper form {
  min-width: 300px;
  max-width: 700px;
  width: 50vw;
  padding: min(4vw, 68px);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #222;
  display: flex;
  flex-direction: column;
}

.page-wrapper input {
  padding: min(1vw, 10px);
  font-size: min(calc(10px + 3.5vmin), 16px);
}

.page-wrapper .btn-form {
  border: 1px solid #333;
  background: #222;
  color: white;
  border-radius: 10px;
}

.page-wrapper a {
  padding: 5px 0px;
  color: azure;
  text-decoration: none;
}

.page-wrapper h3 {
  margin: 0px 0px 16px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
