.calendar {
  display: flex;
  border: 1px solid #333;
  border-radius: 0.5em;
}

.calendar-view {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
}

.day {
  display: flex;
  flex-direction: column;
  border-left: 1px #333 dotted;
}

.day-header {
  width: 7em;
  text-align: center;
  height: 1.5em;
  margin: 0.5em;
  border-bottom: 1px dashed #333;
}

.resources {
  border-right: 1px solid #333;
}

.resource {
  flex-direction: column;
}

.resource > span {
  text-align: right;
  margin-right: 1em;
}

.resource-container {
  width: 7em;
  height: 3em;
  justify-content: center;
  display: flex;
  margin: 0.5em;
}

.resource-container:has(.event) {
  border: 1px solid #333;
  border-radius: 0.5em;
}

.resource-container:has(.event.pull) {
  background: linear-gradient(45deg, #000b23, #0051c67d);
}

.resource-container:has(.event.push) {
  background: linear-gradient(45deg, #230f00, #c69b00a3);
}

.resource-container:has(.event.legs) {
  background: linear-gradient(45deg, #002311, #00c65373);
}

.resource-container:has(.event.arms) {
  background: linear-gradient(45deg, black, transparent);
}

.resource-container:has(.event.shoulders) {
  background: linear-gradient(45deg, #230008, #c6000073);
}

.event {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.day-margin {
  height: 1em;
}