.module {
  margin: 15px;
  min-width: 300px;
  width: min(90vw, 1000px);
  padding: min(4vw, 68px);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #222;
  display: flex;
  flex-direction: column;
  position: relative;
}

.module h3 {
   font-size: min(calc(8px + 3.5vmin), 30px);
}