.module {
  background-color: rgba(40, 44, 52, 0.53);
  padding: min(4vw, 32px);
  border: 1px solid #333;
  box-shadow: 0px 0px 10px #222;
  position: relative;
  width: 100%;
  max-width: min(100vw, 1600px);
}

@media screen and (min-width: 600px) {
  .module {
    border-radius: 5px;
  }
}
.module h3 {
  font-size: min(calc(8px + 3.5vmin), 30px);
  margin: max(-4vw, -32px) max(-4vw, -32px) min(4vw, 32px);
  padding: min(4vw, 32px);
  border-bottom: 1px solid #333;
  box-shadow: 0px 4px 10px 0px #00000033;

  background-color: rgba(40, 44, 52, 0.53);
  background-image:
          linear-gradient(30deg, rgba(40, 44, 52, 0.53) 12%, transparent 12.5%, transparent 87%, rgba(40, 44, 52, 0.53) 87.5%, rgba(40, 44, 52, 0.53)),
          linear-gradient(150deg, rgba(40, 44, 52, 0.53) 12%, transparent 12.5%, transparent 87%, rgba(40, 44, 52, 0.53) 87.5%, rgba(40, 44, 52, 0.53)),
          linear-gradient(30deg, rgba(40, 44, 52, 0.53) 12%, transparent 12.5%, transparent 87%, rgba(40, 44, 52, 0.53) 87.5%, rgba(40, 44, 52, 0.53)),
          linear-gradient(150deg, rgba(40, 44, 52, 0.53) 12%, transparent 12.5%, transparent 87%, rgba(40, 44, 52, 0.53) 87.5%, rgba(40, 44, 52, 0.53)),
          linear-gradient(60deg, rgba(40, 44, 52, 0.53) 25%, transparent 25.5%, transparent 75%, rgba(40, 44, 52, 0.53) 75%, rgba(40, 44, 52, 0.53)),
          linear-gradient(60deg, rgba(40, 44, 52, 0.53) 25%, transparent 25.5%, transparent 75%, rgba(40, 44, 52, 0.53) 75%, rgba(40, 44, 52, 0.53));
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

.module table {
  font-size: min(10px + 3.5vmin, 14px);
  width: 100%;
}

.module table th {
  padding: 10px;
  text-align: right;
  font-size: calc(10px + 0.5vmin);
}

.module table tr th:first-child {
  text-align: left;
}

.module table tr th:nth-child(2) {
  text-align: left;
  width: 60%;
}

.module table td {
  padding: 10px;
  text-align: right;
  font-size: calc(10px + 0.8vmin);
}

.module table tr td:first-child {
  text-align: left;
}

.module table tbody tr:hover {
}

.MuiSlider-root {
  color: rgba(107,166,239,0.5) !important;
}

.centerC {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 2000px) {
  .module.progression {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .module.distribution {
    grid-column: 3;
    grid-row: 1;
  }

  .module.weekly {
    grid-column: 3;
    grid-row: 2;
  }
}