.module {
  margin: 15px;
  min-width: 300px;
  width: min(90vw, 1000px);
  padding: min(4vw, 68px);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #222;
  display: flex;
  flex-direction: column;
  position: relative;
}

.module h3 {
   font-size: min(calc(8px + 3.5vmin), 30px);
}

.module table {
  font-size: min(10px + 3.5vmin, 14px);
}

.module table th {
  padding: 10px;
  text-align: right;
}

.module table tr th:first-child {
  text-align: left;
}

.module table td {
  padding: 10px;
  text-align: right;
}

.module table tr td:first-child {
  text-align: left;
}

.module table tbody tr:hover {
  background: rgba(107, 166, 239, 0.7);
}